In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("./data/treated_data.xlsx")
data_dict = pd.read_csv("./data/data_dict.csv", sep=";", encoding ='latin1')

In [3]:
cols = df.columns.to_list()
for i in range(len(cols)):
    cols[i] = cols[i].strip()
df.columns = cols
data_dict.loc[:,'data_cod'] = data_dict.loc[:,'data_cod'].str.strip()

for col in df.columns:
    df.loc[df.loc[:,col] == "-", col] = np.nan
    
df.replace(' ', np.nan, inplace=True)
df.replace('X', np.nan, inplace=True)

In [4]:
df.head()

,cod_mun_1,cod_mun_2,mun_name,D1,D2,D3,D4,D5,D6,D7,...,D91,D92,D93,D94,pop2010,pop2017,pop2018,pop2019,pop2020,pop2021
0,350010.0,3500105.0,Adamantina,6.0,2214.0,256.0,NaN,248.0,NaN,NaN,...,NaN,NaN,NaN,NaN,33797.0,35139.0,35023.0,35068.0,35111.0,35153.0
1,350020.0,3500204.0,Adolfo,1.0,728.0,140.0,NaN,51.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3557.0,3609.0,3571.0,3562.0,3554.0,3545.0
2,350030.0,3500303.0,Aguaí,2.0,3642.0,1274.0,NaN,645.0,NaN,NaN,...,NaN,NaN,NaN,NaN,32148.0,35508.0,35954.0,36305.0,36648.0,36981.0
3,350040.0,3500402.0,Águas da Prata,2.0,769.0,135.0,NaN,56.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7584.0,8104.0,8137.0,8180.0,8221.0,8262.0
4,350050.0,3500501.0,Águas de Lindóia,4.0,1481.0,346.0,NaN,201.0,NaN,NaN,...,NaN,NaN,NaN,NaN,17266.0,18509.0,18599.0,18705.0,18808.0,18908.0

In [5]:
def get_year_from_data(df_data_dict, data_cod):
    return df_data_dict.loc[df_data_dict.data_cod == data_cod].year.iloc[0]

def medida_tipo_1(
    s1: pd.Series, 
    s2: pd.Series, 
    mult: int):
    return (s1 / s2) * mult

def medida_tipo_2(
    s1: pd.Series, 
    s2: pd.Series,
    s3: pd.Series,
    mult: int
):
    return mult * (s1 / (s2 + s3) )

def medida_tipo_3(
    s1: pd.Series, 
    s2: pd.Series,
    s3: pd.Series,
    mult: int
):
    return mult * ((s1+s2) / s3)

In [6]:
for col in df.columns:
    if col[:1] == 'D':
        df.loc[:,col] = df.loc[:,col].astype('float64', errors='ignore')

In [7]:
medidas_tipo_1 = {
    'M1': ['D1', 'D2', 10000],
    'M2': ['D3', 'pop2021', 100],
    'M3': ['D5', 'pop2021', 100],
    'M4': ['D6', 'D7', 1],
    'M5': ['D1', 'D8', 1],
    'M9': ['D12', 'D13', 1],
    'M12': ['D18', 'D19', 100],
    'M13': ['D20', 'D21', 1],
    'M36': ['D57', 'D58', 100],
    'M17': ['D95', 'pop2021', 1],
    'M18': ['D30', 'D31', 1],
    'M21': ['D34', 'D35', 100],
    'M22': ['D36', 'D37', 100],
    'M23': ['D38', 'D39', 100],
    'M24': ['D40', 'D34', 100],
    'M25': ['D41', 'D42', 100],
    'M26': ['D43', 'D44', 100],
    'M27': ['D45', 'D46', 100],
    'M28': ['D47', 'D48', 100],
    'M29': ['D49', 'D35', 100],
    'M30': ['D50', 'D35', 100],
    'M31': ['D51', 'D37', 100],
    'M32': ['D52', 'D37', 100],
    'M35': ['D55', 'D56', 100],
    'M36': ['D57', 'D58', 100],
    'M39': ['D64', 'D65', 100],
    'M41': ['D68', 'D69', 100],
    'M42': ['D70', 'D71', 100],
    'M42': ['D70', 'D71', 100],
    'M43': ['D72', 'D73', 100],
    'M44': ['D74', 'D75', 100],
    'M45': ['D76', 'D75', 100],
    'M46': ['D77', 'pop2021', 10000],
    'M48': ['D79', 'D80', 1],
    'M49': ['D81', 'D16', 100],
    'M50': ['D82', 'D16', 100],
    'M51': ['D83', 'D16', 100],
    'M52': ['D84', 'D85', 1],
    'M53': ['D86', 'D87', 1],
    'M54': ['D88', 'D89', 1],


}
for k,v in medidas_tipo_1.items():
    df.loc[:,k] = medida_tipo_1(
                                df.loc[:,v[0]], 
                                df.loc[:,v[1]], 
                                v[2]
                            )

In [8]:
data_dict.loc[
    data_dict.data_cod =='D16'
]
# df.D16

,source_cod_description,data_cod,data_description,year,is_source_cecad,Unnamed: 5,Unnamed: 6,Unnamed: 7
15,D16 - Número de domicílios particulares perman...,D16,Número de domicílios particulares permanentes,2010,0,NaN,NaN,NaN

In [9]:
medidas_tipo_2 = {
    'M8': ['D11', 'D3', 'D5', 100],
    'M19': ['D32', 'D3', 'D5', 1],
    'M20': ['D33', 'D3', 'D5', 1],
}
for k,v in medidas_tipo_2.items():
    df.loc[:,k] = medida_tipo_2(
                                df.loc[:,v[0]], 
                                df.loc[:,v[1]], 
                                df.loc[:,v[2]], 
                                v[3]
                            )

In [11]:
medidas_tipo_3 = {
    'M10': ['D14', 'D15', 'D16', 100],
    'M37': ['D59', 'D60', 'D61', 100],
    'M38': ['D62', 'D63', 'D61', 100],
    'M40': ['D66', 'D67', 'D65', 100],
}
for k,v in medidas_tipo_3.items():
    df.loc[:,k] = medida_tipo_3(
                                df.loc[:,v[0]], 
                                df.loc[:,v[1]], 
                                df.loc[:,v[2]], 
                                v[3])

In [12]:
medidas_tipo_4 = {
    'M14': ['D22','D23','D24','D25', 'D26', 'D27'],
    'M15': ['D22', 'D23', 'D27'],
    'M16': ['D28', 'D29']
}

for k, v in medidas_tipo_4.items():
    df.loc[:,k] = df.loc[:,v].fillna(0).sum(axis=1)

In [13]:
df.loc[:,'M6'] = df.loc[:,'D9']
df.loc[:,'M7'] = df.loc[:,'D10']
df.loc[:,'M11'] = df.loc[:,'D17']
df.loc[:,'M33'] = df.loc[:,'D53']
df.loc[:,'M34'] = df.loc[:,'D54']
df.loc[:,'M47'] = df.loc[:,'D78']
df.loc[:,'M55'] = df.loc[:,'D90']
df.loc[:,'M56'] = df.loc[:,'D91']
df.loc[:,'M57'] = df.loc[:,'D92']
df.loc[:,'M58'] = df.loc[:,'D93']
df.loc[:,'M59'] = df.loc[:,'D94']

In [29]:
print(
    'Percentual das medidas sem dados:', 
    round(
        100*df[
            df.columns[
                df.columns.str.slice(stop=1) == 'M'
            ]
        ].isna().all().sum() / len(df.columns),
        2
    ),
    '%'
)

Percentual das medidas sem dados: 15.34 %

In [44]:
cols_all_nan = df[
    df.columns[
        df.columns.str.slice(stop=1) == 'M'
    ]
].isna().all()

print('Medidas sem dados: ', cols_all_nan.loc[cols_all_nan==True].index.to_list())

Medidas sem dados:  ['M4', 'M5', 'M13', 'M36', 'M17', 'M25', 'M26', 'M27', 'M28', 'M31', 'M32', 'M35', 'M48', 'M52', 'M53', 'M54', 'M19', 'M20', 'M33', 'M34', 'M55', 'M56', 'M57', 'M58', 'M59']

In [ ]:
parametros_quartis = [
    
]